---
interface Props {
  class?: string;
}

const { class: className = '' } = Astro.props;
---

<div class={`rounded-xl bg-navy-light border border-border overflow-x-auto my-6 ${className}`}>
  <slot />
</div>
